.container{
    display: flex;
    height: 65vh;
    width: 85vw;
    flex-direction: row;
}
.leftside, .rightside, .center{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 6px;
}
.leftside{
    order: 1;
    background-color:#92B558;
}
.rightside{
    order: 3;
    background-color: #4F84C4;
}
.center{
    flex:2;
    order: 1;
    }
input[type=text]{
    width: 90%;
    height: 10px;
    border: 2px solid #aaa;
    margin: 8px 0;
    padding: 8px;
    box-sizing: border-box;
}
input[type=text]:focus{
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
.leftMessageBox, .rightMessageBox{
    display: flex;
    flex-direction: row;
    margin: 4px;
}
.leftMessageBox{
    align-self: flex-start;
}
.rightMessageBox{
    align-self: flex-end;
}
.leftMessageText, .rightMessageText{
    border-radius: 10px;
    padding: 6px;
    margin: 1px;
    display: flex;
    order: 2;
}
.leftMessageText{
    background-color:#92B558;
}
.rightMessageText{    
    background-color: #4F84C4;
}
.leftDelButton, .rightDelButton{
    align-self: flex-start;
    padding: 0;
    margin: 0;
    font-size: 8px;
    -moz-user-select: none;
}
.leftDelButton{
    order: 1;
}
.leftDelButton:hover ~ .leftMessageText{
    background-color: crimson;
    
}
.rightDelButton:hover ~ .rightMessageText{
    background-color: crimson;
}
.rightDelButton{
    order: 3;
}
.rightTimeStamp, .leftTimeStamp{
    align-self: center;
    font-size: 8px;
    margin: 5px;
    opacity: 0.45;
}
.leftTimeStamp{
    order: 3;
}